<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Home'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs') %>
        
        <section class = "flex flex-col justify-center items-center gap-y-5 text-center">
            <h1>Welcome to Orto<b>Plan</b></h1>
            <p class = "w-5/6">
                Designed to make it simple and convenient for you to schedule and keep track of your plants' care, so you can focus on what matters most - enjoying your greenery.
                Let's take care of your plants together!
            </p>
            <hr class = "animate-showHide origin-center green-line w-40">
        </section>
        <img src = "assets/icons/grass.webp" alt = "Grass">
        <section class = "app-description">
            <b>Plants care & more</b>
            <h1>PLANT CARE MADE EASY</h1>
            <p>
                With OrtoPlan, you can easily <span class = "text-primary">manage your plantations</span> and stay on top of their care.
                Our application allows you to <span class = "text-primary">add, edit, and remove plants</span> from your inventory, and track their watering and fertilization schedules.
                You'll also receive <span class = "text-primary">forecast warning notifications</span> to help you prepare for potential weather-related issues that may affect your plants.
                Plus, you can <span class = "text-primary">view upcoming planned treatments</span> for each plant, so you know exactly when and how to care for them.
                This makes it easy to keep your plants healthy and thriving.
            </p>
        </section>
        <img class = "w-full my-11" src = "assets/icons/tree.webp" alt = "Tree branch">
        <section class = "app-description">
            <b>Effortless plants management</b>
            <h1>PLANTS TREATMENT</h1>
            <p>
                Effortlessly manage your plants' treatments with OrtoPlan.
                Our application allows you to easily remove, and plan all of your plant's  treatments with ease.
                You can <span class = "text-primary">set a starting date, recurrence, and even quick notes</span> for each treatment, so everything is organized and streamlined.
                Plus, you'll <span class = "text-primary">receive notifications</span> when it's time to administer each treatment, ensuring that your plants receive the care they need, when they need it.
            </p>
        </section>
        <img src = "assets/icons/grass.webp" alt = "Tree branch">
    </body>
</html>