<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Home'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs') %>
        <h1>Index page</h1>
    </body>
</html>