<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Home'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs') %>
        
        <section class = "flex flex-col justify-center items-center gap-y-5 text-center">
            <h1>Welcome to Orto<b>Plan</b></h1>
            <p class = "w-5/6 leading-tight">Designed to make it simple
                and convenient for you to schedule and keep track of your plants' care, so you can focus on what matters most - enjoying your greenery. Let's take care of your plants 
                together!</p>
            <hr class = "animate-showHide origin-center green-line w-40">
        </section>
        <img class = "w-[300%] max-w-none" src = "assets/icons/grass.webp">
    </body>
</html>