<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs') %>
    <body>
        <%- include('../partials/nav.partial.ejs') %>
        <%- include('../partials/footer.partial.ejs') %>
    </body>
</html>