<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Log-in'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {isLoginPage: true}) %>
        <section class = "m-auto flex flex-col justify-center items-center">
            <b>Welcome back</b>
            <div class = "flex-col-container">
                <h1 class = "bigger-text text-secondary font-bold">LOG-IN</h1>
                <hr class = "animate-showHide w-16 green-line">
            </div>
            <form class = "mt-5" id = "userLogin">
                <input type = "email" name = "email" placeholder = "Email*" required>
                <input type = "password" name = "password" placeholder = "Password*" required>
                <label class = "flex flex-wrap items-center justify-center gap-2 whitespace-nowrap">
                    <input type = "checkbox" name = "rememberMe">
                    <p>Remember me</p>
                </label>
                <button class = "lg:!w-1/5" type = "submit">Log-in</button>
            </form>
        </section>
        <div class = "toast"></div>
        <%- include('../partials/footer.partial.ejs') %>

        
        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src = "/script/utilities.js"></script>
        <script src = "/script/validation/user.validation.js"></script>
        <script src = "/script/auth/login.auth.js"></script>
        <script src = "/script/auth/jwt.auth.js"></script>
    </body>
</html>