<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {
        title: 'Page not found',
    }) %>
    <body>
        <section class = "flex flex-col justify-center items-center gap-y-5 text-center">
            <h1>Oops, <strong>could not find that...</strong></h1>
            <div class = "flex-col-container">
                <p class = "w-5/6 2xl:w-3/5">
                    The page you are trying to access has probably been moved, deleted, or it really never existed!
                </p>
                <p class = "w-5/6 2xl:w-3/5">If you believe this is an error, please <a class = "text-primary" href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D" title = "Our support email, definitely not a rickroll.">contact the support</a> and let us know</p>
                <hr class = "animate-showHide origin-center green-line w-40 xl:w-56">
            </div>
            <a class = "btn btn-primary btn-outline mt-5" href = "/">Go back home</a>
        </section>
        
        <%- include('../partials/footer.partial.ejs', {
            includeScripts: false
        }) %>
    </body>
</html>