<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.partial.ejs', {title: "Plantations"}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {showDropdownMenus: 'true'}) %>
        <dialog id = "newPlantation" class = "modal">
            <div class = "modal-box">
                <form method = "dialog">
                    <button class = "btn btn-sm btn-square btn-outline btn-primary rounded-md absolute right-2 top-2">X</button>
                </form>
                <form id = "newPlantationForm">
                    <header>
                        <b>New Plantation</b>
                        <h1>Create a new plantation</h1>
                    </header>
                    <input type = "text" name = "plantationName" placeholder = "Name*" required maxlength = "191">
                    <div class = "flex inputStyleContainer">
                        <input type = "text" name = "plantationLocation" placeholder = "Location name" maxlength = "191" required>
                        <div class = "tooltip tooltip-left tooltip-info flex items-center" data-tip='We use location data to enhance your experience by giving you relevant weather information about your new plantation.'>
                            <img class = "w-4" src = "/assets/icons/info.svg" alt = "Information about giving location data" title = "About location data">
                        </div>
                    </div>
                    <input type = "number" name = "plantationLocation" placeholder = "Location postcode (CAP)" maxlength = "5">
                    <button type = "submit">Submit</button>
                </form>
            </div>
        </dialog>
        <section>
            <div class = "mb-5">
                <h1 class = "font-bold">Your Plantations</h1>
                <hr class = "animate-showHide w-32 green-line origin-left">
            </div>
            <div class = "cardsContainer">
                <div class = "customCard">
                    <figure class = "bg-defaultPlantation">
                        <div class = "absolute top-0 right-0 h-8 dropdown dropdown-end" alt = "Plantation Settings" title = "Plantation settings">
                            <img tabindex = "0" role = "button" class = "h-full" src = "/assets/icons/menu.svg" alt = "Plantation settings">
                            <ul class = "dropdown-content z-10 menu p-2 py-0 shadow-xl bg-base-100 rounded-xl w-40 overflow-y-scroll mr-3 textToRight">
                                <li><a tabindex = "0"><span class = "text-primary">Open</span> Plantation</a></li>
                                <hr class = "w-1/2">
                                <li class = "textToRight"><a tabindex = "0"><span class = "text-error">Remove</span> Plantation</a></li>
                            </ul>
                        </div>
                    </figure>
                    <a href = "" class = "cardContent">
                        <p class = "text-primary">Pescara, IT</p>
                        <h2>Plantation 1</h2>
                    </a>
                </div>
                <div class = "customCard" onclick = "document.querySelector('#newPlantation').showModal();">
                    <figure class = "!shadow-none !h-36">
                        <img src = "/assets/icons/new_plantation.svg">
                    </figure>
                    <div class = "cardContent">
                        <h2 class = "text-center">New <span class = "text-primary">Plantation</span></h2>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer.partial.ejs') %>
    </body>
</html>