<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.partial.ejs', {title: "Plantations"}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {showDropdownMenus: 'true'}) %>
        <%- include('../partials/footer.partial.ejs') %>
    </body>
</html>