<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Reset Password'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs') %>
        <section class = "m-auto flex flex-col justify-center items-center">
            <b>Forgot your password?</b>
            <div class = "flex-col-container">
                <h1 class = "bigger-text text-secondary font-bold">RESET PASSWORD</h1>
                <hr class = "animate-showHide w-16 green-line">
            </div>
            <form class = "mt-5" id = "resetPasswordForm">
                <input type = "password" name = "password" placeholder = "Password*" required>
                <input type = "password" name = "passwordVerify" placeholder = "Verify Password*" required>
                <button class = "lg:!w-1/5 2xl:max-w-72" type = "submit">Reset password</button>
            </form>
        </section>
        <div class = "toast"></div>
        <%- include('../partials/footer.partial.ejs', {includeScripts: false}) %>

        
        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src = "/script/constants.js"></script>
        <script>
            const resetToken = "<%=resetToken%>";
        </script>
        <script src = "/script/validation/customDefaultValidators.validation.js"></script>
        <script src = "/script/utilities.js"></script>
        <script src = "/script/validation/resetPassword.validation.js"></script>
        <script src = "/script/auth/resetPassword.auth.js"></script>
    </body>
</html>