<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Sign-up'}) %>
    <body>
        <%- include('../partials/nav.partial.ejs', {isSignupPage: true}) %>
        <section class = "m-auto flex flex-col justify-center items-center">
            <b>Welcome</b>
            <div class = "flex-col-container">
                <h1 class = "bigger-text text-secondary font-bold">SIGN-UP</h1>
                <hr class = "animate-showHide w-20 green-line">
            </div>
            <form class = "mt-5" id = "userSignup">
                <div class="join">
                    <input type = "text" name = "firstName" placeholder = "First Name" required>
                    <input type = "text" name = "lastName" placeholder = "Last name" required>
                </div>
                <input type = "email" name = "email" placeholder = "Email*" required>
                <input type = "password" name = "password" placeholder = "Password*" required>
                <input type = "password" name = "passwordVerify" placeholder = "Verify password*" required>
                <button type = "submit">Join us</button>
            </form>
        </section>
        <div class = "toast"></div>
        <%- include('../partials/footer.partial.ejs') %>

        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src = "/script/constants.js"></script>
        <script src = "/script/utilities.js"></script>
        <script src = "/script/validation/user.validation.js"></script>
        <script src = "/script/auth/signup.auth.js"></script>
        <script src = "/script/auth/jwt.auth.js"></script>
    </body>
</html>