<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.mail.partial.ejs') %>
    <body>
        <h1 style = "font-size: x-large">🔐 Reset your OrtoPlan account password</h1>
        <p style = "font-size: large">Hi there!</p>
        <p>You're receiving this email because you recently requested a password reset</p>
        <p>If it was you making the request, please click on the button below to verify your email address. If it wasn't you, then you don't have to do anything and you can delete this email.</p>
        <b>Please note that the code is valid for just 10 minutes for security purposes. After the token becomes invalid, you have to request a new one.</b>

        <div style = "width: 100%; margin-top: 50px; text-align: center;">
            <a href = "<%=passwordResetLink%>" style = "box-sizing: border-box; padding: 10px 25px; color: white; background-color: #7FBA52; font-size: medium; text-decoration: none; border-radius: 99999px;">RESET YOUR PASSWORD</a>
        </div>
        
        <hr style = "width: 80%; height: 0.5px; margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: 30px; border: none; background-color: rgba(0,0,0,0.8)">

        <%- include('../partials/footer.mail.partial.ejs', {signature: true}) %>
    </body>
</html>