<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.mail.partial.ejs') %>
    <body>
        <h1 style = "font-size: x-large">🪴 Welcome to the OrtoPlan family, <span style = "color: #7FBA52"><%= name + ' ' + surname %></span>!</h1>
        <p style = "font-size: large">Thanks to be a part of our continuously growing community of passionated gardeners.</p>
        <br>
        <b>Important notice:</b>
        <p>In order to be able to access all OrtoPlan's functionalities, the system requires each user to verify the registered email. Please click the button below to verify your email.</p>
        <b>Please note that the code is valid for just 10 minutes for security purposes. After the token becomes invalid, you have to request a new one.</b>

        <div style = "width: 100%; margin-top: 50px; text-align: center;">
            <a href = "<%=verificationLink%>" style = "box-sizing: border-box; padding: 10px 25px; color: white; background-color: #7FBA52; font-size: medium; text-decoration: none; border-radius: 99999px;">VERIFY</a>
        </div>
        
        <hr style = "width: 80%; height: 0.5px; margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: 30px; border: none; background-color: rgba(0,0,0,0.8)">
        
        <%- include('../partials/footer.mail.partial.ejs', {signature: true}) %>
    </body>
</html>