<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name="color-scheme" content = "light only">
        <meta name = "supported-color-schemes" content = "light only">
    </head>
    <body>
        <h1 class = "font-size: x-large">🪴 Welcome to the OrtoPlan family, <span style = "color: #7FBA52"><%= name + ' ' + surname %></span>!</h1>
        <p style = "font-size: large">Thanks to be a part of our continuously growing community of passionated gardeners.</p>
        
        <hr style = "width: 80%; height: 0.5px; margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: 30px; border: none; background-color: rgba(0,0,0,0.8)">

        <p style = "font-size: small; margin-bottom: 0">From the bottom of our heart 💚</p>
        <p style = "font-size: small; margin-top: 0">- The OrtoPlan Team</p>

        <footer style = "margin-top: 70px; width: 100%; background-image: url('cid:OrtoPlanFooterBG'); background-size: cover; background-repeat: no-repeat; padding: 20px 15px 20px 15px; box-sizing: border-box; color: white; display: flex; align-items: center; gap: 20px">
            <img style = "width: 40px; height: 40px; margin-left: 0;" src = "cid:OrtoPlanLogo" alt = "OrtoPlan logo">
            <div class = "font-size: small">
                <p>@ Copyright 2024 - Marco Facecchia</p>
                <p>All Rights Reserved</p>
            </div>
        </footer>
    </body>
</html>