@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-SemiLight.otf) format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-Bold.otf) format("opentype");
        font-display: swap;
        font-weight: bold;
    }
    *{
        @apply scroll-smooth;
    }
    body{
        @apply overflow-x-clip min-h-screen flex flex-col relative;
    }
    h1{
        @apply text-2xl;
    }
    p{
        @apply text-base leading-tight;
    }
    nav, footer, section{
        @apply box-border px-3;
    }
    nav{
        @apply w-full flex justify-between items-center py-4 bg-navbar bg-cover bg-no-repeat shadow-xl;
    }
    nav img, nav svg{
        @apply h-6 flex items-center;
    }
    nav div{
        @apply space-x-3
    }
    footer{
        @apply mt-auto w-full py-7 bg-footer bg-cover bg-no-repeat flex items-center justify-start gap-5 text-base-100;
    }
    footer img{
        @apply size-11;
    }
    section{
        @apply w-full py-11;
    }
    img{
        @apply max-w-none;
    }
    img[src*="grass.webp"]{
        @apply w-[300%];
    }
    form{
        @apply flex flex-col items-center justify-center gap-y-3 w-full overflow-hidden;
    }
    form :is(input, textarea), .inputStyleContainer{
        @apply border-[1.5px] border-neutral rounded-lg w-full px-3 py-2 outline-none;
    }
    form :is(input, textarea):user-invalid, form .inputStyleContainer:has(:is(input, textarea):user-invalid){
        @apply border-error text-error;
    }
    :is(input, textarea)::placeholder{
        @apply text-neutral;
    }
    :is(input, textarea):disabled[name="treatmentType"]{
        @apply font-bold
    }
    :is(input, textarea):disabled{
        @apply text-black opacity-90 input-disabled;
    }
    .inputStyleContainer :is(input, textarea){
        @apply border-none p-0;
    }
    form button[type="submit"]{
        @apply rounded-full text-base-100 bg-primary px-3 py-1 text-lg font-bold w-1/3;
    }
    form button[data-btn-action]{
        @apply outline-offset-1 p-2;
    }
    form .join input:first-child{
        @apply rounded-r-none;
    }
    form .join input:last-child{
        @apply rounded-l-none;
    }
    hr{
        @apply w-full;
    }
    form h1{
        @apply text-primary font-bold;
    }
    form header{
        @apply text-center mb-5
    }
    .modal-box header{
        @apply mb-5;
    }
    textarea{
        @apply min-h-11;
    }
    button img{
        @apply h-5;
    }
}

@layer components{
    .green-line{
        @apply border-none h-1 rounded-full bg-primary;
    }
    .bigger-text{
        @apply text-4xl
    }
    .app-description div{
        @apply mb-5;
    }
    .app-description h1{
        @apply bigger-text text-secondary w-3/4 font-bold;
    }
    .cardsContainer{
        @apply w-full grid grid-cols-1 place-items-center gap-5;
    }
    .customCard{
        @apply w-3/5 box-border pb-2 shadow-md overflow-hidden rounded-xl flex flex-col gap-5;
    }
    .customCard figure{
        @apply flex justify-center h-40 shadow-md relative overflow-hidden bg-cover bg-center;
    }
    .customCard .cardContent{
        @apply space-y-1 box-border px-3 text-left;
    }
    .cardContent h2{
        @apply font-bold text-xl;
    }
    .flex-col-container{
        @apply flex flex-col items-center gap-y-2;
    }
    .plantationsPlantsList{
        @apply grid justify-start grid-cols-1;
    }
}

@layer components{
    .menu hr{
        @apply mx-auto w-10/12;
    }
    /* built-in daisyUI `menu` customization (aligns list elements to right) */
    .menu.textToRight li a{
        @apply justify-end gap-1;
    }
    /* Adds an header to the built-in daisyUI dropdown menu at a fixed position */
    .dropdown-content header{
        @apply sticky left-0 top-0 bg-base-100 z-30 box-border pt-2 px-4 mb-4;
    }
    .dropdown-content header hr{
        @apply w-full;
    }
    .dropdown-content h1{
        @apply text-xl;
    }
    .dropdown-content li{
        @apply w-full my-1 text-right;
    }
    /* Overriding default `text color` property for `btn-primary` daisyUI class */
    .btn-primary{
        @apply text-base-100;
    }
    /* Overriding default max-width: 20rem (too large for most displays, leading to content overflow problems) */
    .tooltip::before{
        @apply !max-w-40;
    }
    .modal-action > :not([hidden]) ~ :not([hidden]){
        @apply ml-0;
    }
    .btn:has(img){
        @apply h-auto min-h-0;
    }
    form[method="dialog"] .btn-square{
        @apply min-h-0 min-w-0 size-8;
    }
    .btn-primary:hover{
        @apply !text-base-100;
    }
}