@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-SemiLight.otf) format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-Bold.otf) format("opentype");
        font-display: swap;
        font-weight: bold;
    }
    *{
        @apply scroll-smooth;
    }
    body{
        @apply overflow-x-clip min-h-screen flex flex-col relative;
    }
    h1{
        @apply text-2xl;
        @apply md:text-3xl;
    }
    p, b{
        @apply text-base leading-tight;
        @apply md:text-lg;
        @apply lg:text-xl;
    }
    nav, footer, section{
        @apply box-border px-3;
        @apply sm:px-5;
        @apply md:px-7;
        @apply lg:px-11;
    }
    nav{
        @apply w-full flex justify-between items-center py-4 bg-navbar bg-cover bg-no-repeat shadow-xl;
        @apply md:py-6;
        @apply lg:py-8;
    }
    nav a{
        @apply text-lg leading-tight;
        @apply md:text-xl;
        @apply lg:text-2xl;
    }
    nav img, nav svg{
        @apply h-6 flex items-center;
        @apply sm:h-7;
        @apply lg:h-9;
    }
    nav div{
        @apply space-x-3;
        @apply lg:space-x-6;
    }
    footer{
        @apply mt-auto w-full py-7 bg-footer bg-cover bg-no-repeat flex items-center justify-start gap-5 text-base-100 shadow-t-xl;
    }
    footer img{
        @apply size-11;
        @apply lg:size-14;
    }
    section{
        @apply w-full py-11;
    }
    img{
        @apply max-w-none;
    }
    img[src*="grass.webp"]{
        @apply w-[300%];
        @apply sm:w-[200%];
        @apply md:w-[150%];
        @apply lg:w-full;
    }
    form{
        @apply flex flex-col items-center justify-center gap-y-3 w-full overflow-hidden box-border p-2;
        @apply sm:gap-y-4;
    }
    form :is(input, textarea, select, option){
        @apply bg-base-100 appearance-none;
        @apply lg:text-lg;
    }
    form :is(input, textarea, select, option), .inputStyleContainer{
        @apply border-[1.5px] border-neutral rounded-lg w-full px-3 py-2 outline-none;
    }
    form :is(input, textarea, select, option):user-invalid, form .inputStyleContainer:has(:is(input, textarea, select, option):user-invalid){
        @apply border-error text-error;
    }
    :is(input, textarea, select, option)::placeholder{
        @apply text-neutral;
    }
    :is(input, textarea, select, option):disabled[name="treatmentType"]{
        @apply font-bold
    }
    :is(input, textarea, select, option):disabled{
        @apply text-black opacity-90 input-disabled;
    }
    .inputStyleContainer :is(input, textarea, select, option){
        @apply border-none p-0;
    }
    input[type="checkbox"]{
        @apply appearance-auto w-auto;
        @apply lg:scale-110;
    }
    form button[type="submit"]{
        @apply rounded-full text-base-100 bg-primary px-3 py-1 text-lg font-bold w-1/3 mt-3;
        @apply lg:text-xl lg:py-2;
    }
    form button[data-btn-action]{
        @apply outline-offset-1 p-2;
    }
    form .join{
        @apply w-full;
    }
    form .join input:first-child{
        @apply rounded-r-none;
    }
    form .join input:last-child{
        @apply rounded-l-none;
    }
    hr{
        @apply w-full;
    }
    form h1{
        @apply text-primary font-bold;
    }
    form header{
        @apply text-center mb-5
    }
    .modal-box header{
        @apply mb-5;
    }
    .modal-box header img{
        @apply h-20 mx-auto;
    }
    textarea{
        @apply min-h-11;
    }
    button img{
        @apply h-5;
    }
}

@layer components{
    .green-line{
        @apply border-none h-1 rounded-full bg-primary;
    }
    .bigger-text{
        @apply text-4xl
    }
    .app-description div{
        @apply mb-5;
    }
    .app-description h1{
        @apply bigger-text text-secondary w-3/4 font-bold;
    }
    .cardsContainer{
        @apply w-full grid grid-cols-1 place-items-center gap-5;
        @apply sm:grid-cols-2 sm:gap-7;
        @apply lg:grid-cols-3;
    }
    .customCard{
        @apply w-3/5 box-border pb-4 shadow-md overflow-hidden rounded-xl flex flex-col gap-5;
        @apply sm:w-2/3;
        @apply md:w-3/5 pb-7;
        @apply lg:w-4/5;
    }
    .customCard figure{
        @apply flex justify-center h-40 shadow-md relative bg-cover bg-center;
        @apply lg:h-52;
    }
    .customCard .cardContent{
        @apply space-y-1 box-border px-3 text-left;
    }
    .cardContent p{
        @apply text-base;
        @apply md:text-lg;
        @apply lg:text-xl;
    }
    .cardContent h2{
        @apply font-bold text-lg;
        @apply md:text-xl;
        @apply lg:text-2xl;
    }
    .flex-col-container{
        @apply flex flex-col items-center gap-y-2;
    }
    .plantationsPlantsList{
        @apply grid justify-start grid-cols-1;
    }
    .weather{
        @apply flex flex-col items-center justify-center;
    }
    .weather img{
        @apply h-11;
    }
}

@layer components{
    .menu hr{
        @apply mx-auto w-10/12;
    }
    /* built-in daisyUI `menu` customization (aligns list elements to right) */
    .menu.textToRight li a{
        @apply justify-end gap-1;
    }
    /* Adds an header to the built-in daisyUI dropdown menu at a fixed position */
    .dropdown-content header{
        @apply sticky left-0 top-0 bg-base-100 z-30 box-border pt-2 px-4 mb-4;
    }
    .dropdown-content header hr{
        @apply w-full;
    }
    .dropdown-content h1{
        @apply text-xl;
        @apply lg:text-2xl
    }
    .dropdown-content li{
        @apply w-full my-1 text-right;
    }
    .dropdown-content li a{
        @apply gap-x-4;
        @apply lg:gap-x-6;
    }
    .dropdown-content li a p{
        @apply md:text-base;
        @apply lg:text-xl;
    }
    .btn{
        @apply lg:text-base;
    }
    /* Overriding default `text color` property for `btn-primary` daisyUI class */
    .btn-primary, .btn-error{
        @apply text-base-100;
    }
    /* Overriding default max-width: 20rem (too large for most displays, leading to content overflow problems) */
    .tooltip::before{
        @apply !max-w-40;
        @apply md:text-sm md:rounded-md;
    }
    .modal-action > :not([hidden]) ~ :not([hidden]){
        @apply ml-0;
    }
    .btn:has(img){
        @apply h-auto min-h-0;
    }
    form[method="dialog"] .btn-square{
        @apply min-h-0 min-w-0 size-8;
    }
    .btn-primary:hover{
        @apply !text-base-100;
    }
    .toast{
        @apply whitespace-normal;
    }
    .alert{
        @apply max-w-56 text-right;
    }
    .glide__arrow{
        @apply absolute top-1/2 -translate-y-1/2 bg-gradient-to-r from-transparent to-base-100 to-30% h-full box-border px-1;
    }
    .glide__arrow img{
        @apply h-7;
    }
    .glide__arrow--left{
        @apply left-3 bg-gradient-to-l;
    }
    .glide__arrow--right{
        @apply right-3;
    }
}