@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-SemiLight.otf) format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: 'AdobeClean';
        src: url(../assets/fonts/AdobeClean-Bold.otf) format("opentype");
        font-display: swap;
        font-weight: bold;
    }
    *{
        @apply scroll-smooth;
    }
    h1{
        @apply text-2xl;
    }
    p{
        @apply text-base;
    }
    nav{
        @apply w-full overflow-hidden flex justify-between box-border px-3 py-4 bg-navbar bg-cover bg-no-repeat shadow-xl;
    }
    nav img{
        @apply h-6;
    }
    nav div{
        @apply space-x-3
    }
    section{
        @apply w-full box-border px-3 py-11;
    }
}

@layer components{
    .green-line{
        @apply border-none h-1 rounded-full bg-primary;
    }
}