<head>
    <meta chartset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

    <link rel = "stylesheet" href = "style/style.css">
    <link rel = "icon" href = "assets/icons/favicon.webp">

    <title>
        OrtoPlan<% if(typeof title !== 'undefined'){ %>
            - <%= title %>
        <% } %>
    </title>
</head>