<nav>
    <a tabindex = "0" href = "/"><img src = "/assets/icons/favicon_wide.svg" alt = "OrtoPlan Logo"></a>

    <div>
        <% if(typeof showDropdownMenus !== 'undefined'){ %>
            <div class = "dropdown dropdown-end">
                <div tabindex = "0" role = "button" title = "Notifications">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class = "hover:stroke-primary">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </div>
                <ul class = "dropdown-content flex-nowrap z-10 menu p-2 pt-0 shadow-xl bg-base-100 rounded-xl w-72 h-60 overflow-y-scroll mt-5">
                    <header>
                        <h1>Notifications</h1>
                        <hr>
                    </header>
                    <!-- TODO: Add "remove notification button" -->
                    <li tabindex = "0">
                        <a>
                            <img src = "/assets/icons/rain_green.svg">
                            <p><b>Rain</b> expected in "Plantation 1"'s zone on 20th May</p>
                        </a>
                    </li>
                    <hr>
                    <li tabindex = "0">
                        <a>
                            <img src = "/assets/icons/irrigation_green.svg">
                            <p><b>Irrigation</b> scheduled for "Plantation 2"'s Janet Craig</p>
                        </a>
                    </li>
                    <hr>
                    <li tabindex = "0">
                        <a>
                            <img src = "/assets/icons/pruning_green.svg">
                            <p><b>Pruning</b> scheduled for "Plantation 1"'s Tailflower</p>
                        </a>
                    </li>
                    <hr>
                    <li tabindex = "0">
                        <a>
                            <img src = "/assets/icons/thunderstorm_green.svg">
                            <p><b>Thunderstorm</b> expected in "Plantation 2"'s zone on 21th May</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" title = "Account settings">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class = "hover:stroke-primary">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>                      
                </div>
                <ul class="dropdown-content menu z-10 p-2 pt-0 shadow-xl bg-base-100 rounded-xl w-72 mt-5 overflow-y-scroll">
                    <header>
                        <h1>Account</h1>
                        <hr>
                        <h1><span class = "text-primary">Marco</span> Facecchia</h1>
                    </header>
                    <li tabindex = "0">
                        <a>
                            <img src = "/assets/icons/edit_green.svg" alt = "Modify account information">
                            <p><b>Modify</b> account information</p>
                        </a>
                    </li>
                    <hr>
                    <li tabindex = "0">
                        <a>
                            <img class = "rotate-180" src = "/assets/icons/logout.svg" alt = "Logout">
                            <p><b>Logout</b></p>
                        </a>
                    </li>
                    <hr>
                    <li tabindex = "0" class = "mt-5">
                        <a onclick = "confirmRemoval(undefined, 'user')">
                            <img src = "/assets/icons/warning_red.svg" alt = "Permanently delete account">
                            <p><b class = "text-error">Permanently delete account</b></p>
                        </a>
                    </li>
                </ul>
            </div>
        <% } else{ %>
            <a <% if(typeof isSignupPage !== 'undefined'){ %> class = "text-primary" <% } %> href = "/signup" title = "Create an account">Sign-up</a>
            <a <% if(typeof isLoginPage !== 'undefined'){ %> class = "text-primary" <% } %> href = "/login" title = "Log-in into your account">Log-in</a>
        <% } %>
    </div>
</nav>