<div class = "flex inputStyleContainer">
    <input type = "password" name = "<%if(typeof fieldName !== 'undefined'){%><%=fieldName%><%}else{%>password<%}%>" placeholder = "Password*" <%if(typeof fieldMaxLength !== 'undefined'){%>maxlength = "<%=fieldMaxLength%>"<%}%> <%if(isRequired){%>required<%}%>>
    <img class = "w-4 xl:w-5" src = "/assets/icons/eye.svg" role = "button" tabindex = "<% if(isDialog){ %>-1<%}else{%>0<%}%>" title = "Toggle Password" onclick = "togglePasswordField(this.parentNode)" onkeydown = "togglePasswordField(this.parentNode, event.code)">
</div>