<form class = "items-start treatmentForm hidden" data-treatment-id = "<%= treatmentID %>">
    <div class = "flex w-full items-center gap-5 inputBoxContainer">
        <select name = "treatmentType" required <% if(typeof isDisabled !== 'undefined'){ %> disabled <% } %> role = "definition">
            <option value = "">Treatment Type*</option>
            <option value = "Pruning">Pruning</option>
            <option value = "Irrigation">Irrigation</option>
            <option value = "Fertilization">Fertilization</option>
            <option value = "Sowing">Sowing</option>
        </select>
        <div class = "flex flex-nowrap ml-auto p-1 box-border gap-x-2">
            <button type = "button" data-btn-action = "Edit" class = "btn btn-primary rounded-md" title = "Modify treatment"><img src = "/assets/icons/edit.svg" alt = "Modify treatment"></button>
            <button type = "button" data-btn-action = "Remove" class = "btn btn-error rounded-md" title = "Remove treatment"><img src = "/assets/icons/erase.svg" alt = "Remove treatment"></button>
        </div>
    </div>
    <input type = "date" name = "treatmentDate" value = "<%= date %>" required <% if(typeof isDisabled !== 'undefined'){ %> disabled <% } %>>
    <div class = "flex items-center gap-3 inputBoxContainer">
        <span>every</span>
        <input class = "max-w-[4.5rem]" type = "number" name = "treatmentRecurrence" value = "<%= recurrence %>" placeholder = "Recurrence" required <% if(typeof isDisabled !== 'undefined'){ %> disabled <% } %>>
        <span>days</span>
    </div>
    <textarea name = "notes" placeholder = "Notes" <% if(typeof isDisabled !== 'undefined'){ %> disabled <% } %>></textarea>
</form>
<% if(typeof separator !== 'undefined'){ %>
    <hr>
<% } %>