<% if (signature) { %>
    <p style = "font-size: small; margin-bottom: 0">From the bottom of our heart 💚</p>
    <p style = "font-size: small; margin-top: 0">- The OrtoPlan Team</p>
<% } %>
<footer style = "margin-top: 70px; width: 100%; background-image: url('cid:OrtoPlanFooterBG'); background-size: cover; background-repeat: no-repeat; padding: 20px 15px 20px 15px; box-sizing: border-box; color: white; display: flex; align-items: center; gap: 20px">
    <img style = "width: 40px; height: 40px; margin-left: 0;" src = "cid:OrtoPlanLogo" alt = "OrtoPlan logo">
    <div style = "font-size: small">
        <p>@ Copyright 2024 - Marco Facecchia</p>
        <p>All Rights Reserved</p>
    </div>
</footer>